.blogPost {
    min-height: 35rem;
    padding: 2rem; 
    display: flex;
    align-items: flex-end;
    justify-content: left;
    transition: .4s;
}

.blogPost button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}

.blogPost:hover {
    transform: scale(1.03);
}

.blogPost:hover button {
    visibility: visible;
    opacity: 1;
}

.leftButton { 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rightButton { 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.centerButtons {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ImageContainer {
    background-color: rgb(196 196 196 / 49%);
    padding-right: 0;
    padding-left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4) inset;
}

.ImageContainer:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.4);
    transition: all 0.6s;
    top: 0;
    left: 0;
    position: absolute;
}

.ImageContainer:hover:after {
    opacity: 1;
}

.ImageContainer .blogPost {
    z-index: 1;
    position: relative;
}