.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: lightgray;
  outline: 1px solid white;
}

.mat-button {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.fade-in {
  animation: fadeIn ease-in 0.4s;
}

.loginContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}